#!/usr/bin/env bash

function rclone_auth {
    rclone \
{% for arg in backup.target.args %}
        --{{ arg }}={{ backup.target.args[arg] }} \
{% endfor %}
        $@
}

function rcat {
    rclone_auth rcat --progress "$1"
}

function backup {
    name=$1
    maxage=$2
    method=$3

    dir=":{{ backup.target.type }}:{{ backup.target.prefix }}$(hostname)/$name"
    dest="$dir/$(date -Iseconds --utc)"

    rclone_auth delete --min-age "$maxage" "$dir"
    rclone_auth rmdir --min-age "$maxage" "$dir"

    echo "Sending $name in $dest"

    case $method in
    files)
        local src=$4
        tar -cf - $src | rcat "$dest.tar" ;;
    files_compressed)
        local src=$4
        tar -czf - $src | rcat "$dest.tgz" ;;
    stdout)
        local script=$4
        bash -c "$script" | rcat "$dest" ;;
    *)
        >&2 echo "Unknown backup method: $method"
        exit 1 ;;
    esac
}

{% for dir in backup.dirs %}
backup {{ dir.dest }} {{ dir.max_age }} {% if dir.src is string -%}
    {% if dir.compress | default(False) -%}
    files_compressed {{ dir.src }}
    {%- else -%}
    files {{ dir.src }}
    {%- endif %}
{% else -%}
    {% if "execute" in dir.src -%}
    stdout {{ dir.src.execute | quote }}
    {%- endif %}
{% endif %}

{% endfor %}
