#!/usr/bin/env bash

function rclone_auth {
    rclone \
{% for arg in backup.target.args %}
        --{{ arg }}={{ backup.target.args[arg] }} \
{% endfor %}
        $@
}

function filename {
    echo :{{ backup.target.type }}:{{ backup.target.prefix }}$(hostname)/$1/$(date -Iseconds --utc)
}

function send {
    tar $4 -cf - $1 | \
    rclone_auth rcat \
        --progress \
        $(filename $2)$3
}

function clear {
    rclone_auth delete --min-age $2 :{{ backup.target.type }}:{{ backup.target.prefix }}$(hostname)/$1
    rclone_auth rmdir --min-age $2 :{{ backup.target.type }}:{{ backup.target.prefix }}$(hostname)/$1
}

{% for dir in backup.dirs %}
clear {{ dir.dest | quote }} {{ dir.max_age | quote }}
send {{ dir.src | quote }} {{ dir.dest | quote }} {{ dir.compress | default(false) | ternary(".tgz", ".tar") }} {{(
    dir.compress | default(false) | ternary("-z ", "") +
    dir.exclude | default([]) | map("regex_replace", "^", "--exclude ") | join(" ")
) | quote }}

{% endfor %}
